@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: satoshi;
    src: url(./fonts/Satoshi-Variable.ttf);
}

@font-face {
    font-family: neue-light;
    src: url(./fonts/Neue-Machina-Light.ttf);
}

@font-face {
    font-family: neue-medium;
    src: url(./fonts/Neue-Machina-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: satoshi;
}

html, body {
    height: 100%;
    width: 100%;
}

#homepage {
    width: 100%;
    height: 100vh;
    position: relative;
    border: 3px solid red;
}

#homepage > #video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0vmax;
    left: 0vmax;
    display: none;
    z-index: 3;
}

#video-container > video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#homepage > #marquee-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#marquee-container > #marquee-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#marquee-div > .marquee-row {
    width: 100%;
    padding: 1vmax 0vmax;
    display: flex;
    align-items: center;
    gap: 2.5vmax;
    white-space: nowrap;
}

#marquee-div > .marquee-row:nth-child(2n) {
    transform: translateX(-50%);
}

#marquee-div > .marquee-row:nth-child(2n-1) {
    transform: translateX(-33%);
}

.marquee-row > .elem {
    display: flex;
    align-items: center;
    gap: 2vmax;
}

.elem > h1 {
    font-family: neue-medium;
    font-size: 5.25vmax;
    line-height: 3.5vmax;
    letter-spacing: -5px;
    font-weight: 500;
}

.elem > .marquee-row-image {
    height: 3.5vmax;
    width: 3.5vmax;
    border-radius: 50%;
}

.marquee-row-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#marquee-heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
}

#marquee-heading > h1 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.65vmax;
    line-height: 2.75vmax;
}

#home-message {
    position: absolute;
    bottom: 2vmax;
    left: 2vmax;
    text-align: center;
    width: 12%;
    z-index: 4;
}

#home-message > p {
    font-weight: 600;
    text-align: left;
    line-height: 1.35vmax;
    font-size: 0.95vmax;
}

#page-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0vmax 2vmax;
    position: relative;
}

#page2-left {
    width: 40%;
    position: sticky;
    top: 2vmax;
    left: 0vmax;
}

#page2-left > p {
    font-size: 1.2vmax;
    line-height: 1.75vmax;
    font-weight: 500;
    margin-bottom: 2vmax;
}

#page2-left > h1 {
    font-family: neue-light;
    font-size: 4.5vmax;
    line-height: 5.25vmax;
    font-weight: 400;
    margin-bottom: 2vmax;
}

#page2-button {
    width: fit-content;
    padding: 1vmax 1.5vmax;
    border: 1.5px solid #000;
    display: flex;
    gap: 1vmax;
}

#page2-button > #masker {
    overflow: hidden;
}

#page2-button > #masker > span {
    font-weight: 700;
    font-size: 0.95vmax;
    display: inline-block;
}

#page2-button > i {
    font-size: 1.2vmax;
}

#page2-right {
    background-color: lightpink;
    width: 50%;
}

#page3 {
    width: 100%;
}

#slides-container {
    height: 400vh;
    width: 100%;
    position: relative;
}

#slides {
    display: flex;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    /* overflow: hidden; */
}

.slide {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide1 {
    background-color: lightgreen;
}

.slide1 > h1 {
    font-family: neue-light;
    font-size: 6.75vmax;
    line-height: 7vmax;
    font-weight: 400;
}

.slide2 {
    background-color: lightpink;
}

.slide2 > h1 {
    font-family: neue-medium;
    font-size: 10vmax;
    line-height: 7vmax;
    font-weight: 800;
    color: #ffffff;
}

.slide2 > p {
    position: absolute;
    top: 26%;
    left: 20%;
    width: 18.5%;
    font-size: 1.2vmax;
    line-height: 2vmax;
    font-weight: 600;
}

.slide2 > h3 {
    font-family: neue-medium;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.5vmax;
    font-weight: 600;
}

.slide3 {
    background-color: lightblue;
}

.slide4 {
    background-color: lemonchiffon;
}

.slide-image {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}

.slide-image-big {
    height: 22.5vmax;
    width: 22.5vmax;
}

.slide-image-huge {
    height: 23vmax;
    width: 23vmax;
}

.slide-image-medium {
    height: 18vmax;
    width: 18vmax;
}

.slide-image-small {
    height: 10vmax;
    width: 10vmax;
}

.slide-image-tiny {
    height: 5vmax;
    width: 5vmax;
}

.slide-image > img {
    height: 120%;
    width: 120%;
    object-fit: cover;
    object-position: center;
}

.slide1 > .slide-image-big {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.slide2 > .slide-image-huge {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.slide2 > .slide-image-small {
    top: 72%;
    left: 22%;
}

.slide2 > .slide-image-medium {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide2 > .slide-image-big {
    bottom: 0;
    left: 40%;
    transform: translateY(50%);
}

.slide3 > h1 {
    font-family: neue-medium;
    font-size: 10vmax;
    line-height: 7vmax;
    font-weight: 800;
    color: #ffffff;
}

.slide3 > p {
    position: absolute;
    top: 26%;
    left: 20%;
    width: 18.5%;
    font-size: 1.2vmax;
    line-height: 2vmax;
    font-weight: 600;
}

.slide3 > h3 {
    font-family: neue-medium;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.5vmax;
    font-weight: 600;
}

.logo-image {
    position: absolute;
}

.logo-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-1 {
    height: 24vmax;
    width: 24vmax;
    top: 52%;
    left: 10%;
}

.logo-2 {
    height: 18vmax;
    width: 18vmax;
    top: 0%;
    left: 35%;
}

.logo-3 {
    height: 20vmax;
    width: 20vmax;
    top: 30%;
    left: 75%;
}

.slide4 > h1 {
    font-family: neue-medium;
    font-size: 10vmax;
    line-height: 7vmax;
    font-weight: 800;
    color: #ffffff;
}

.slide4 > h3 {
    font-family: neue-medium;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.5vmax;
    font-weight: 600;
}

.slide4 > .slide-image-huge {
    top: 85%;
    left: 10%;
}

.slide4 > .slide-image-big {
    top: -2%;
    left: 85%;
}

.slide4 > .slide-image-tiny {
    top: 70%;
    left: 75%;
}

.slide4 > .slide-image-medium {
    top: -5%;
    left: 25%;
}









