:root {
    --white: #FFFFFF;
    --black: #000000;
    --salmon: #EF9D71;
    --aqua: #AEDEE0;
    --lemon: #F5F19C;
}

*::selection {
    background-color: var(--salmon);
    color: var(--white);
}

body[theme="black"] {
    background-color: var(--black);
}

body[theme="black"] .section {
    color: var(--white);
}

body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section {
    color: var(--black);
}

body[theme="aqua"] {
    background-color: var(--aqua);
}

body[theme="aqua"] .section {
    color: var(--black);
}

body[theme="coral"] {
    background-color: var(--salmon);
}

body[theme="coral"] .section {
    color: var(--black);
}

body[theme="lemon"] {
    background-color: var(--lemon);
}

body[theme="lemon"] {
    color: var(--black);
}